*.pt
*.pth
*.pth.tar
*.jpeg
*.jpg
*.png
*.safetensors
*.model
*.npy
*.log
hf_model_comp/
hf_model_comp/aqlm_cache/
comp_llm/model_lm_reconstructed
Wparam_dataset_v1
Wparam_dataset/block_pt/
Wparam_dataset/hessian/
Wparam_dataset/quip_hess/
Wparam_dataset/hf_model/
RD-sandwich/checkpoint*
nic_weight_comp/checkpoints_image_pretrained
nic_weight_comp/checkpoint
*.pyc
*.bak
*.idea
__pycache__/
*/__pycache__/
.ipynb_checkpoints/
.*.swp
checkpoints/
wandb/
*/wandb/
tmp/
model_cache
model_cache_reconstructed
JPEG/wp_npy
JPEG/wp_image
JPEG/wp_image_result
nic_weight_comp_transformer/checkpoint
RD-sandwich/logs
*.lock