*.pt
*.pth
Wparam_dataset
RD-sandwich/checkpoint*
nic_weight_comp/checkpoints_image_pretrained
nic_weight_comp/checkpoint
*.pyc
*.bak
*.idea
__pycache__/
.ipynb_checkpoints/
.*.swp
checkpoints/
wandb/
*/wandb/
tmp/
llm-awq/model_cache
JPEG/wp_npy
JPEG/wp_image
JPEG/wp_image_result
nic_weight_comp_transformer/checkpoint
RD-sandwich/logs
