compressai==1.2.6
accelerate==0.34.2
datasets==2.20.0
glog==0.3.1
huggingface-hub==0.26.2
lm_eval==0.4.4
numpy==1.26.4
scipy==1.14.1
tqdm==4.66.4
transformers==4.46.3
ipykernel==6.29.4
wandb==0.22.2
torch==2.4.0