.venv/
tmp/
results/
datasets/
training_outputs/
train_outputs/
eval_results/
__pycache__/
*egg-info/
.vscode/
.ipynb_checkpoints/
wandb/
data/
generated_tasks/
*.bak
*outputs/
plots/
generated_tasks/
watcher_state.yaml
trained_t2l/
downloaded_lora/
*.zip